body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f4f4f4;
}

#chat {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
}

.message {
  display: flex;
  margin-bottom: 10px;
}

.message.sent {
  justify-content: flex-end; /* Sağ tarafa hizala */
}

.message.received {
  justify-content: flex-start; /* Sol tarafa hizala */
}

.message-content {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
}

.message.received .message-content {
  background-color: #ddd;
  color: black;
}

#message-form {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

#message-form input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

#message-form input:active,
#message-form input:focus {
  border-color: #007bff;
}

#message-form button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#message-form button:hover {
  background-color: #0056b3;
}

/* Modal Styles */
.modal {
  display: none; /* Modal başlangıçta gizli */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* Modal genişliği */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.modal-content input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

.modal-content label {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  row-gap: 4px;
}

.modal-content label span {
  font-weight: 600;
}

.close-button-container {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#joinChatButton,
#createChatButton,
#confirmJoinButton,
#confirmCreateButton {
  padding: 10px 20px;
  border: none;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#joinChatButton:hover,
#createChatButton:hover,
#confirmJoinButton:hover,
#confirmCreateButton:hover {
  background-color: #0056b3;
}

.chat-info {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

#typing {
  margin: 10px 0;
  font-style: italic;
}
